header {
  box-shadow: 1px 1px 3px #999999;
  .upper-header {
    background-image: url("../../out/img/home/upper-image.jpg");
    background-size: cover;
    width: 100%;
    margin: 0;
    height: 800px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    &:hover {
      cursor: default;
    }
    .upper-block-window {
      display: flex;
      align-items: center;
      max-height: 700px;
      height: 100%;
      .upper-title {
        width: 540px;
        display: flex;
        flex-direction: column;
        margin: 0 11%;
        padding-left: 16px;
        background-color: rgba(114, 208, 244, 0.8);
        border-bottom: 4px solid #00bff0;
        .upper-title-head {
          font-weight: normal;
          font-size: 48px;
          text-transform: uppercase;
          padding-top: 5px;
        }
        .upper-title-middle {
          font-weight: lighter;
          font-size: 24px;
          text-transform: uppercase;
        }
        p {
          font-weight: lighter;
          font-size: 14px;
          max-width: 400px;
        }
        .upper-title-button {
          display: flex;
          justify-content: center;
          padding-bottom: 20px;
          button {
            background-color: transparent;
            border: 1px solid #ffffff;
            border-radius: 5px;
            box-shadow: none;
            color: #ffffff;
            font-size: 12px;
            font-weight: bolder;
            padding: 5px 15px;
            &:active, &:focus {
              outline: none;
            }
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
    .upper-arrow {
      max-height: 100px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .header-socials {
    background-color: #00bff0;
    padding: 0 11%;
    display: flex;
    justify-content: space-between;
    .header-call {
      display: flex;
      align-items: center;
      color: #ffffff;
      font-size: 12px;
      a {
        text-decoration: none;
        color: #ffffff;
        .fa-phone-alt {
          font-size: 14px;
          padding: 10px;
        }
      }
    }
    .header-social-icons {
      display: flex;
      align-items: center;
      a {
        i {
          font-size: 14px;
          color: #ffffff;
          padding: 10px;
        }
        &:hover {
          cursor: pointer;
          transform: scale(1.3);
        }
      }
    }
  }
  .header-navigation {
    background-color: #72d0f4;
    .navbar-expand-xl {
      margin: 0 11%;
      padding: 30px 0;
      .navbar-toggler {
        .fa-bars {
          color: #ffffff;
          font-size: 28px;
        }
      }
      .navbar-collapse {
        .navbar-nav {
          .active {
            border: 1px solid #ffffff;
            border-radius: 5px;
          }
          .nav-item {
            padding: 0 20px;
            .nav-link {
              color: #ffffff;
              font-size: 14px;
              font-weight: bolder;
              text-transform: uppercase;
            }
          }
          .dropdown {
            padding: 0;
            a {
              padding-right: 20px;
              i {
                padding: 0 10px;
              }
            }
            a[aria-expanded='true'] {
              background-color: #ffffff;
              color: #72d0f4;
              border-radius: 5px;
            }
            .dropdown-menu {
              background-color: #ffffff;
              border-radius: 5px;
              border: none;
              margin-top: 10px;
              width: 200px;

              .arrow-up {
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid #ffffff;
                position: absolute;
                top: -10px;
                left: 13px;
              }
              a {
                color: #72d0f4;
                padding: 10px 0 10px 8px;
                margin: 0 2px;
                font-size: 14px;
                font-weight: bolder;
                text-transform: uppercase;
                width: 196px;
                &:active {
                  background-color: #72d0f4;
                  color: #ffffff;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  header {
    .header-navigation {
      .navbar-expand-xl {
        .navbar-collapse {
          .navbar-nav {
            .nav-item {
              width: max-content;
            }
            .dropdown-header-button {
              .nav-link {
                i {
                  padding-left: 20px;
                }
              }
              .dropdown-menu {
                position: relative;
              }
            }
          }
        }
      }
    }
  }
}