body {
  $title-color: #72d0f4;
  $bottom-border: #00bff0;
  $page-width: 0 11%;
  font-family: Ubuntu;
  main {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    .upper-main-home {
      .row {
        .upper-main-home-image {
          display: flex;
          justify-content: flex-end;
        }
        .upper-main-home-title {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 40px;
          .home-title {
            font-weight: normal;
            font-size: 38px;
            color: #5b636b;
          }
          .home-text {
            font-weight: normal;
            font-size: 16px;
            text-align: center;
            color: #8b9297;
            margin: 0;
          }
          &:hover {
            cursor: default;
          }
        }
      }
    }
    .live-main-home {
      .row {
        .live-translation {
          margin-bottom: 30px;
          .live-content {
            border-bottom: 4px solid $bottom-border;
            .live-block {
              display: flex;
              justify-content: space-between;
              background-color: $title-color;
              padding: 10px 15px;
              span {
                display: flex;
                align-items: center;
                color: #ffffff;
                line-height: 30px;
              }
              .live-block-title {
                font-size: 18px;
                text-transform: uppercase;
                i {
                  padding-left: 5px;
                }
              }
              .live-block-room {
                font-size: 11px;
                font-weight: bolder;
                text-transform: uppercase;
              }
            }
            .live-image {
              img {
                width: 100%;
              }
            }
            &:hover {
              transform: scale(1.01);
              cursor: pointer;
            }
          }
        }
      }
    }
    .class-main-home {
      .row {
        .all-classes {
          .all-classes-title {
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            color: #00bff0;
            font-size: 30px;
            margin: 30px 0 20px 0;
          }
          .all-classes-content {
            display: flex;
            background-color: $title-color;
            color: #ffffff;
            .column-classes {
              width: 50%;
              .column-classes-row {
                display: flex;
                justify-content: space-between;
                margin: 0 30px 10px 30px;
                padding: 15px 0 10px 0;
                border-bottom: 1px dotted #ffffff;
                .row-name {
                  text-transform: uppercase;
                  span {
                    font-size: 14px;
                    font-weight: bolder;
                    i {
                      padding-right: 5px;
                    }
                  }
                }
                .row-social {
                  text-transform: uppercase;
                  i {
                    margin: 0 5px;
                  }
                }
                &:hover {
                  cursor: pointer;
                  transform: scale(1.01);
                }
              }
            }
            &::after {
              content: "";
              position: absolute;
              left: 50%;
              bottom: 8%;
              transform: rotate(0deg);
              display: block;
              width: 1px;
              height: 180px;
              background-color: #ffffff;
            }
          }
        }
        .membership-prices {
          .membership-prices-title {
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            color: $bottom-border;
            font-size: 30px;
            margin: 30px 0 20px 0;
          }
          .membership-prices-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #00bff0;
            color: #ffffff;
            padding: 0 10px;
            max-height: 240px;
            height: 100%;
            .membership-title {
              text-transform: uppercase;
              font-size: 16px;
              font-weight: bolder;
              padding: 20px 0;
            }
            .membership-text {
              font-size: 16px;
              font-weight: lighter;
              text-align: center;
              padding-bottom: 10px;
            }
            .membership-button {
              button {
                background-color: transparent;
                border: 1px solid #ffffff;
                border-radius: 5px;
                padding: 5px 20px;
                color: #ffffff;
                &:active, &:focus {
                  outline: none;
                }
              }
            }
          }
        }
      }
    }
    .trainers-main-home {
      margin-top: 60px;
      .row {
        .our-trainers {
          padding: 0;
          .our-trainers-title {
            text-align: center;
            text-transform: uppercase;
            font-size: 30px;
            color: $bottom-border;
            padding: 20px 0;
          }
          .our-trainers-content {
            margin: 0 15px;
            .carousel-inner {
              .carousel-item {
                background-color: #f3f3f3;
                height: 265px;
                .row {
                  display: flex;
                  .column-trainers {
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    padding: 30px 15px;
                    .trainer-photo {
                      display: flex;
                      justify-content: center;
                      img{
                        width: 80px;
                        height: auto;
                        border-radius: 50%;
                        padding-bottom: 5px;
                      }
                    }
                    .trainer-name {
                      text-align: center;
                      font-size: 14px;
                      font-weight: bolder;
                      text-transform: uppercase;
                      color: $title-color;
                    }
                    .trainer-spec {
                      text-align: center;
                      font-size: 12px;
                      font-style: italic;
                      text-transform: uppercase;
                      color: $title-color;
                    }
                    .trainer-desc {
                      padding-top: 5px;
                      p {
                        text-align: center;
                        font-style: italic;
                        font-size: 12px;
                      }
                    }
                    .trainer-social {
                      display: flex;
                      justify-content: space-between;
                      z-index: 2;
                      padding: 0 15px;
                      .trainer-like {
                        .fa-heart {
                          &:hover {
                            color: #ff0000;
                          }
                        }
                        .fa-thumbs-up {
                          padding: 0 5px;
                          &:hover {
                            color: #029ec6;
                          }
                        }
                      }
                      .trainer-share {
                        .fa-twitter {
                          padding: 0 5px;
                          &:hover {
                            color: #72d0f4;
                          }
                        }
                        .fa-facebook-f {
                          &:hover {
                            color: #72d0f4;
                          }
                        }
                      }
                    }
                  }
                }
                &::after {
                  content: "";
                  position: absolute;
                  left: 50%;
                  bottom: 15%;
                  transform: rotate(0deg);
                  display: block;
                  width: 1px;
                  height: 70%;
                  background-color: $title-color;
                }
              }
            }
            .button-prev-trainers {
              position: absolute;
              left: 1%;
              bottom: 50%;
              text-decoration: none;
              .fa-chevron-left {
                display: flex;
                align-items: center;
                justify-content: center;
                color: $title-color;
                font-size: 24px;
              }
            }
            .button-next-trainers {
              position: absolute;
              right: 1%;
              bottom: 50%;
              text-decoration: none;
              .fa-chevron-right {
                display: flex;
                align-items: center;
                justify-content: center;
                color: $title-color;
                font-size: 24px;
              }
            }
          }
        }
        .next-events {
          .next-events-title {
            text-align: center;
            text-transform: uppercase;
            font-size: 30px;
            color: $bottom-border;
            padding: 20px 0;
          }
          .next-events-content {
            background-color: #a5e5fe;
            height: 265px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .next-event-row {
              display: flex;
              padding: 0 20px;
              .next-event-row-date {
                span {
                  font-size: 16px;
                  font-weight: bolder;
                  color: #ffffff;
                  line-height: 25px;
                }
                img {
                  width: 120px;
                  height: 70px;
                }
              }
              .next-event-row-desc {
                display: flex;
                flex-direction: column;
                align-items: center;
                .next-event-hour {
                  color: #f31d20;
                  font-size: 10px;
                  font-weight: bolder;
                  padding-top: 5px;
                }
                .next-event-type {
                  color: #000000;
                  font-size: 18px;
                  font-weight: normal;
                  text-transform: uppercase;
                }
                p {
                  color: #000000;
                  font-size: 12px;
                  font-weight: normal;
                  margin: 0;
                  text-align: center;
                }
                form {
                  button {
                    color: #f31d20;
                    font-size: 10px;
                    text-transform: uppercase;
                    background-color: transparent;
                    border: 1px solid #000000;
                    border-radius: 2px;
                    padding: 0 10px;
                    &:active, &:focus {
                      outline: none;
                    }
                  }
                }
              }
            }
            &::after {
              content: "";
              position: absolute;
              right: 50%;
              top: 23%;
              transform: rotate(90deg);
              display: block;
              width: 1px;
              height: 80%;
              background-color: #ffffff;
            }
          }
        }
        .from-the-blog {
          .from-the-blog-title {
            text-align: center;
            text-transform: uppercase;
            font-size: 30px;
            color: $bottom-border;
            padding: 20px 0;
          }
          .from-the-blog-content {
            background-color: #d4d6d6;
            height: 265px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 10px 20px;
            .from-the-blog-row {
              display: flex;
              img {
                width: 70px;
                height: 70px;
                border-radius: 10px;
              }
              .from-the-blog-row-text {
                padding-left: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                p {
                  margin: 0;
                  font-size: 13px;
                  color: #ffffff;
                }
                span {
                  color: #7e7f7f;
                  font-size: 13px;
                  padding: 5px 0;
                }
              }
              &:hover {
                transform: scale(1.01);
              }
            }
          }
        }
      }
    }
    .gallery-partners-main-home {
      margin-top: 60px;
      .row {
        .gallery {
          .gallery-title {
            text-align: center;
            text-transform: uppercase;
            font-size: 30px;
            color: $bottom-border;
            padding: 20px 0;
          }
          .gallery-carousel {
            .carousel-inner {
              .carousel-item {
                height: 340px;
                .row {
                  .column-gallery {
                    width: 250px;
                    padding: 0 ;
                    img {
                      height: 170px;
                      width: 100%;
                      max-width: 262px;
                      padding-bottom: 4px;
                      &:hover {
                        transform: scale(1.02);
                        z-index: 100;
                      }
                    }
                  }
                }
              }
            }
            .button-prev-gallery {
              position: absolute;
              left: 2%;
              bottom: 41%;
              text-decoration: none;
              .fa-chevron-left {
                display: flex;
                align-items: center;
                justify-content: center;
                color: $title-color;
                width: 60px;
                height: 60px;
                font-size: 36px;
                border-radius: 50%;
                background-color: rgba(255, 255, 255, 0.6);
                text-align: center;
              }
            }
            .button-next-gallery {
              position: absolute;
              right: 2%;
              bottom: 41%;
              text-decoration: none;
              .fa-chevron-right {
                display: flex;
                align-items: center;
                justify-content: center;
                color: $title-color;
                width: 60px;
                height: 60px;
                font-size: 36px;
                border-radius: 50%;
                background-color: rgba(255, 255, 255, 0.6);
                text-align: center;
              }
            }
          }
        }
        .partner {
          .partner-title {
            text-align: center;
            text-transform: uppercase;
            font-size: 30px;
            color: $bottom-border;
            padding: 20px 0;
          }
          .container-fluid {
            .row {
              height: 340px;
              .column1 {
                padding: 15px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-end;
                width: 130px;
                img {
                  width: 125px;
                }
              }
              .column2 {
                padding: 15px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                width: 130px;
                img {
                  width: 125px;
                }
              }
            }
          }
        }
      }
    }
    .twitter-main-home {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 120px 0;
      img {
        padding-right: 20px;
      }
      p {
        font-size: 14px;
        color: #41cdf1;
        width: 700px;
        padding-left: 20px;
        a {
          text-decoration: none;
        }
      }
    }
  }
}


@media screen and (max-width: 800px) {
  body {
    main {
      .class-main-home {
        .row {
          .all-classes {
            .all-classes-content {
              display: flex;
              flex-direction: column;
              .column-classes {
                width: 100%;
              }
              &::after {
                display: none;
              }
            }
          }
        }
      }
      .gallery-partners-main-home {
        .row {
          .gallery {
            display: none;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1199px) {
  body {
    main {
      .trainers-main-home {
        margin-top: 100px;
      }
    }
  }
}





